<div class="content">
	<ul>
		<% @products.each do |product| %>
			<li>
			<div class="product_name"><a href=""><%= product.name %></a></div>
			<a href="" class="price_link"><%= product.price.to_i %> <span class="rur">&#8399;</span></a>
			<li>
		<% end %>
	</ul>
</div>

